body * {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: #0A172D;
}

button:hover{
  cursor: pointer;
}

input[type='submit']:hover{
  cursor: pointer;
}

.start {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  padding: 5%;
}

.intro {
  color: #FFFFFF;
  margin-bottom: 5%;
}

.score {
  text-align: center;
  width: 50%;
}

.start-game {
display: block;
margin-left: auto;
margin-right: auto;
background-color: #0A172D;
border-color: #0A172D;
color: #FFFFFF;
font-size: 36px;
}

main {
  position: fixed;
  top:0;
  width: 100%;
  background-color: #B5BECD;
  height: 100vh;
}

div, form {
  text-align: center;
  margin-top: 10%;
  color: #2E2E2E;
  font-size: 22px;
}

.final_score p {
  color: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 5%;
}

.score {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #576D93;
  font-size: 36px;
  border-radius: 15px;
  color: #FFFFFF;
}

.quote {
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.view_answer_button, .next_question_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: #576D93;
  border-color: #576D93;
  color: #FFFFFF;
  padding: 2%;
  border-radius: 8px;
  font-size: 22px;
}

.hide {
  display: none;
}


input[type="radio"] {
	-webkit-appearance: none;
	border: 2px solid #FFFFFF;
  border-radius: 3px;
	background-color: #FFFFFF;
	color: #FFFFFF;
  margin-left: 20px;
  margin-top: 2%;
	width: 20px;
	height: 20px;
}

input[type="radio"]::before {
	content: "\2714";
	padding-left: 2px;

}

input[type="radio"]:checked {
	color: #000000;
}
